@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang di MealKost</h1>
    <p>Silakan <a href="~/Identity/Account/Login">login</a> untuk mulai menyusun pola makan sehatmu!</p>
    <p></p>
    <img src="~/mealkost.jpg" class="img-fluid" alt="Responsive image">

</div>
